# Archivos de datos y scripts
*.csv
*.pdf
*.docx
*.doc
*.html
*.pptx
*.ppt
*.xls
*.xlsx
*.xlsxm
*.xlsb
*.env
.env
.venv


# Archivos de configuración
*.ini
*.cfg
*.conf
*.config
*.yaml
*.yml
__pycache__/
.claude/
output/
# Carpetas no deseadas
datos_reales_cliente/
testing_client_data/